.wrapper {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2px;
  row-gap: 20px;
  justify-items: center;

  .board {
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
    border-radius: 4px;
    min-width: 300px;
    height: 700px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px;
    padding-right: 10px;
    ul {
      padding: 2px;
    }
  }
}
